<p>
  <input type="text" name="Nama" id="nama" placeholder="Nama" #nama value="{{anakKos?.nama}}"> <br>
  <input type="text" name="Asal" id="Asal" placeholder="Asal" #asal value="{{anakKos?.asal}}"> <br>
  <input type="text" name="nohp" id="nohp" placeholder="No. HP" #nohp value="{{anakKos?.nohp}}"> <br>
  <button (click)="save(nama.value, asal.value, nohp.value)">Simpan</button><br><br>
  <button (click)="goBack()">Kembali</button>
  <button *ngIf="anakKos" (click)="hapus()">Hapus</button>
</p>