<!--The content below is only a placeholder and can be replaced.-->
<ng-container>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" autosize [fixedInViewport]="true" id="sidenav">
      <mat-list role="list">
        <mat-list-item role="listitem">Anak Kos</mat-list-item>
        <mat-divider></mat-divider>

      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span routerLink="/">Kosku</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Login" routerLink="/login">
            <mat-icon>account_circle</mat-icon>
          </button>
        </mat-toolbar>

        <router-outlet></router-outlet>
        <app-message></app-message>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">